@{
    ViewBag.Title = "About";
}

<br />
<br />
<h1 style="text-align:center"> Picture of Artist.</h1>
<br />
<br />

<h4 style="text-align:justify">
    North Carolina native, Jack Jarrett, is a versatile and prolific composer of international stature whose fresh, inventive music naturally evolves from the great European traditions. Emotionally resonant and richly developed, his works are infused with influences of American folk, jazz, musical theater, film, and world music. He draws from this diverse “melting pot” of cultural styles to create an enormous range of expression. <br /><br />

    Jarrett is perhaps best known for his choral and orchestral works, with performances by more than fifty major orchestras, including London Symphony Orchestra, Boston Pops, and the critically acclaimed Bel Canto choir. Former head of the Composition Department at world famous Berklee College of Music, he has won numerous awards, including ASCAP’s prestigious Rudolf Nissim award.<br /><br />

    Jarrett was a Fulbright scholar at Germany’s Hochshüle für musik and a Ford Foundation grant recipient. His degrees are from University of Florida, the Eastman School of Music with a doctorate in composition from Indiana University. His studies and first person experiences as performer and conductor result in a rare level of competency in writing for voice, strings, brass, winds, organ or piano.
</h4>
