
@{
    ViewBag.Title = "AdminControls";
}

<h2>Admin Controls</h2>
@Html.ActionLink("Manage Categories", "Index", "Categories");
<br />
@Html.ActionLink("Manage Items", "Index", "Items");
<br />
@Html.ActionLink("View Orders", "Index", "Orders");

